html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* Evita desplazamiento si el video es más grande */
}

.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Asegura que el video cubra toda la pantalla */
    z-index: -1;
    /* Lo envía al fondo */
    backdrop-filter: blur(0px);
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

#principal {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.337);
    overflow: hidden;
}


#principal h1 {
    font-size: 4.8em;
    padding-top: 35vh;
    margin-top: 0;
    margin-bottom: 20px;
}

#principal p {
    font-size: 1.5em;
    padding-top: 0px;

}


#principal button {
    margin: 20px;
    padding: 15px 25px;
    background: #00000036;
    border: #fff solid 1px;
    color: #fff;
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    font-size: 14px;
}

#principal button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

#principal button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

#principal button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ffcc00;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

#principal button:hover {
    color: #000;
    border: 1px solid #ffffff;
    font-weight: 500;
}

#principal button:hover:before {
    top: -35%;
    background-color: #ffffff;
    color: black;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    font-weight: 500;
}

#principal button:hover:after {
    top: -45%;
    background-color: #ffffff;
    color: black;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    font-weight: 500;
}

.content {
    transform: scale(0);
    opacity: 0;
    animation: zoomFadeIn 2s forwards;
}

@keyframes zoomFadeIn {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.navbar1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: top 0.3s;
    box-sizing: border-box;
}

.navbar1 .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar1 .logo:hover {

    text-decoration: none;
}

.navbar1 .nav-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 33%;
    overflow: hidden;
}


.navbar1 .nav-right {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    max-width: 33%;
}

.navbar1 .nav-right a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 40px;
}

.navbar1 a:hover {
    text-decoration: underline;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.navbar1 .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

.navbar1 .dropdown1{
    float: left;
    overflow: hidden;
}

.navbar1 .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.177);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: visible; 
    height: auto; 
    border-radius: 2px;
}

.navbar1 .dropdown-content a {
    float: none;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar1 .dropdown-content a:hover {
    background-color: #ffffff34;
}


/* Show the dropdown menu on hover */
.navbar1 .dropdown1:hover .dropdown-content {
    display: block;
    height: auto; 
}

.navbar1.scrolled {
    background-color: rgba(0, 0, 0, 0.295); 
    transition: background-color 0.3s ease; 
}

section{
    min-height: 100vh;
}


.whatis {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    position: relative;
    width: 100%; 
}

.imagen {
    width: 70%; 
    height: 70vh; 
    position: relative;
    perspective: 1200px;
    margin: auto; 
}

.flip-container {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out; 
}

.imagen:hover .flip-container {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.back img {
    max-width: 30%; 
    object-fit: contain; 
    margin-top: 20px; 
}

.back {
    background-color: #0000002b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    transform: rotateY(180deg);
    overflow: hidden; 
}

.whatis h1 {
    font-size: 2.5rem; 
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.back p {
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    margin: 10px auto; 
}


.carousel-inner  {
    width: 900px;
    margin-left: 20%;
}

#preview{
    text-align: center;
    color: white;
}

/* Cambiar el color de los íconos a negro */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); /* Convierte el color blanco por defecto a negro */
}

/* Opcional: Cambiar el fondo de los botones a negro */
.carousel-control-prev,
.carousel-control-next {
    background-color: rgb(248, 244, 244); /* Ajusta la opacidad si lo deseas */
    margin: 25%;
    border-radius: 50%; /* Hace los botones más estilizados */
    width: 50px;
    color: #000;
    height: 50px;
}

#collaborators {
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    color: white;
    text-align: center;
}

.card-client {
    background: rgba(70, 70, 70, 0.37);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    transition: transform 0.3s ease-in-out;
}

.card-client:hover {
    transform: scale(1.05);
}

.user-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.name-client {
    font-size: 18px;
    font-weight: bold;
}

.name-client span {
    display: block;
    font-size: 14px;
    color: #ddd;
}

.social-media a {
    margin: 0 10px;
    color: white;
    font-size: 20px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #ffcc00;
}
.tooltip {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.show-tooltip {
    opacity: 1;
}

#tutorial {
    text-align: center;
    color: white;
}

.aboutUsTitle {
    text-align: center;
    font-size: 3.5rem;
    color: white;
}


.buttonAboutUsTutorial {
    display: block;
    margin: 30px auto;
    padding: 15px 30px;
    font-size: 1.5rem;
    border: none;
    background: linear-gradient(90deg, #4A00E0, #8E2DE2);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.buttonAboutUsTutorial:hover {
    background: linear-gradient(90deg, #8E2DE2, #4A00E0);
    transform: scale(1.05);
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.aboutUsContainer {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    background: none;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.aboutUsContainer.visible {
    opacity: 1;
    transform: translateY(0);
}

#cards-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-size: cover;
    padding: 30px 10px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 1500px;
}

.flip-card {
    width: 300px;
    height: 250px;
    perspective: 1000px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 50px 20px;
    background-size: cover; 
}
#background-container {
    padding-bottom: 50px; 
}

.flip-card-front {
    background: rgba(142, 45, 226, 0.17);
    color: white;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.flip-card-back {
    background: #000;
    color: white;
    transform: rotateY(180deg);
}

#aboutus button {
    margin: 10px;
    padding: 20px 30px;
    background: #00000036;
    border: #fff solid 1px;
    color: #fff;
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    font-size: 20px;
}

#aboutus button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

#aboutus button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

#aboutus button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ffcc00;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

#aboutus button:hover {
    color: #000;
    border: 1px solid #ffffff;
    font-weight: 500;
}

#aboutus button:hover:before {
    top: -35%;
    background-color: #ffffff;
    color: black;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    font-weight: 500;
}

#aboutus button:hover:after {
    top: -45%;
    background-color: #ffffff;
    color: black;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    font-weight: 500;
}
#background-container {
    background: url('images/aboutus3.jpg') no-repeat center center fixed;
    background-size: cover; 
    padding-bottom: 0px; 
    margin-bottom: 0
}

footer {
    background-color: rgba(19, 19, 19, 0.849);
    border-top: #c5c5c564 solid 1px;
}
#aboutus, #whatis, #tutorial, #preview, #collaborators {
    box-shadow: 4px 4px 18px rgba(108, 108, 108, 0.541);
    padding-top: 100px; 
    padding-bottom: 50px;
}
#preview p, #tutorial p{
    font-size: 1.5rem;
    color: white;
    margin: 20px 0;
}
#preview h1, #tutorial h1{
    font-size: 3rem;
    color: white;
    margin: 20px 0;
}